
@import url('style_null.css');
@import url('style_weather.css');
@import url('style_calendar.css');

@font-face {
	font-family: "comfortaa-3d";
	src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
	font-weight: 400;
}

@font-face {
	font-family: "kablammo-3d";
	src: url(../fonts/Kablammo/Kablammo-Regular-VariableFont_MORF.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'merriweather-3d';
	src: url(../fonts/merriweather-regular-italic.woff2);
}

:root {
	--index: calc(1vw + 1vh);
	--transition: .5s cubic-besier(.05, .5, 0, 1);
}

header,footer{
	background-color: rgb(124,155,28);
}

a{
	color: #fff;
}

nav{
	display: flex;
	justify-content: end;
	font-size: 20px;
	gap: 20px;
}

.wrapper{
	width: 100%;
	font-family: 'Caveat', cursive;
	font-size: 30px;
	color: white;
}

.container{
	width: 65%;
	margin: 0 auto;
	text-align: center;
	line-height: 1;
}

.row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list__row{
	flex-wrap: wrap;
	gap: 40px 40px;
	justify-content: center;
	align-items: start;
}

.col{
	/* border: 1px solid red; */
	width: 220px;
}

.nav-menu{
	background-color: rgb(124,155,28);
	box-shadow: rgb(124,155,28) 0 0 30px;
	padding: 5px 0;
}
.logo{
	width: 32px;
}

/* Трехмерная панорама */

.layers{
	background-color: black;
	font-family: "comfortaa-3d";
	perspective: 1000px;
	overflow: hidden;
	position: relative;
}

.head__logo{
	width: calc(var(--index) * 13);
	height: calc(var(--index) * 13);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -95%); 
	z-index: 1;
	margin: 0 auto ;
}

.layers__container{
	height: calc(var(--index) * 20);
	transform-style: preserve-3d;
	transform: rotateX(var(--move-y)) rotateY(var(--move-x));
	will-change: transform;
	transition: transform var(--transition);
}

.layers__item{
	position: absolute;
	inset: -5vw;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-content{
	font-size: calc(var(--index) * 2.5);
	text-align: center;
	margin: 0 calc(var(--index) * 3.5);
}

.layer-1{
	transform: translateZ(-55px) scale(1.06);
}

.layer-2{
	transform: translateZ(80px) scale(.8);
}

.layer-3{
	transform: translateZ(180px) scale(.88);
}

.layer-4{
	transform: translateZ(190px) scale(.9);
}

.layer-5{
	transform: translateZ(300px) scale(.9);
}

.layer-6{
	transform: translateZ(380px);
}
.layer-4, .layer-5, .layer-6 {
	pointer-events: none;
}


.title-text-dark{
	background-color: rgba(113, 143, 22, 1);
	padding: 10px 0;
	font-size: 40px;
}

.title-text-light{
	background-color: rgb(217, 245, 133);
	padding: 5px 0 3px;
	font-size: 25px;
	color: rgb(124,155,28);
	font-family: 'Neucha', cursive;
}

/* .head-image{
	background-image: url("../img/Fon_2.jpg");
	background-size: 100% auto;
	background-position: left 20%;
	height: 200px;
} */

.list .container {
	padding: 15px;
}

.time__weather{
	display: inline-block;
	font-size: 23px;
	color: rgb(44, 86, 122);
	/* transform-origin: bottom left; */
	transition: transform 0.2s;
	padding-left: 7px;
}
.time__weather:hover{
	transform: scale(1.1);
	color: rgb(44, 86, 122);
	text-shadow: rgb(166, 197, 218);
}

.programma{
	background-image: url("../img/Fon_4.jpg");
	background-color: rgb(124,155,28);
	background-size: 200px;
	background-blend-mode:screen;
}

.programma-container{
	/* border: 1px solid black; */
	/* width: 70%; */
	background-color: rgba(113, 143, 22, 0.6);
	padding: calc(var(--index) * 3);
}

.title{
	padding: 10px 0;
	margin: 0;
}

.buttn{
	display: inline;
	color: bisque;
	font-weight: bold;
	border: 1px black solid;
	background: #58a linear-gradient(hsla(0,0%,100%,.5), transparent);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
	text-shadow: -1px -1px rgba(0,0,0,0.5);
}


.modal{
	position:fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	/* opacity: 0;
	visibility: hidden; */
}

.modal__body{
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}

.modal__content{
	color: black;
	background-color: #fff;
}

.header-modal{
	position: relative;
}

.close-modal{
	position: absolute;
	top: 5px;
	right: 5px;
	color: #fff;
	text-decoration: none;
}

.program-elem{
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 20px;
}

.col-image{
	flex-grow: 0;
	flex-shrink: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: aqua;
    box-shadow: 0 0 15px 5px white;
	overflow: hidden;
	margin-right: 10px;
	display: flex;
	justify-content: center;
	transition: all 0.5s;
}

.col-image:hover{
	transform: scale(110%);
	box-shadow: 0 0 20px 10px white;
	cursor: pointer;
}

.col-image img{
    height: 100%;
}

.col-image.opened{
	z-index: 2;
	width: 400px;
    height: 300px;
	border-radius: 0;

	overflow: hidden;
	margin: 100px;
	/* position: absolute;
	top: 10%;
	left: 40%; */
}

.col-text{
	/* border: 1px solid black; */
	font-family: 'Neucha', cursive;
	font-size: 22px;
	flex: 1 1 50%;
    color: white;
}

footer {
	padding-bottom: 5px;
	/* text-align: center; */
}

.contact span{
	display: inline-block;
		/* border: 1px solid black; */
	margin: 2px 8px;
	/* padding-top: 5px; */
}

.footer-link{
	font-size: 13px;
	padding-top: 7px;
}

/* Большие картинки */
	.large-img{
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.5);
		position: fixed;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
	}

	.large-img.open{
		opacity: 1;
		visibility: visible;
	}

	.large-img__card{
		width: 70%;
		height: auto;
		margin: calc(var(--index) * 3) auto;
		border-radius: calc(var(--index) * 3);
		overflow: hidden;
	}

	.large-img__card img{
		width: 100%;
		height: auto;
	}

/* Большие картинки-конец */

@media screen and (max-width:768px){
	footer .row{
		flex-direction: column;
	}

	.footer-alex{
		order: 1;
	}
	
	.footer-olga{
		order: 2;
	}
	
	.footer-link{
		order: 3;
		font-size: 13px;
	}
}

@media screen and (max-width:425px){
	.nav-menu .container {
		width: 95%;
	}

	.logo {
		display: none;
	}

	nav{
		justify-content:space-between;
		margin: 0 auto;
	/* border: 1px solid black; */
	}

	.container{
		width: 90%;
	}

	.title-text-dark{
		padding: 8px 0;
		font-size: 30px;
	}

	.title-text-light{
		padding: 5px 0 3px;
		font-size: 20px;
	}

	.contact span{
		font-size: 22px;
	}

	footer .container {
		width: 95%;
	}
}