h1 {
	color: blue;
}

.row {
	display: flex;
	margin-bottom: 10px;
}

.col {
	justify-content: start;
}

.container{
	border: 1px black solid;
	width: 50%;
	height: 300px;
}

.buttn{
	display: inline;
	color: bisque;
	font-weight: bold;
	border: 1px black solid;
	background: #58a linear-gradient(hsla(0,0%,100%,.5), transparent);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
	text-shadow: -1px -1px rgba(0,0,0,0.5);
}